.nav-bg-color {
  background: #5cd4da;
}

.nav-cart {
  display: flex;
}

nav.NavbarItems {
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.NavbarItems .navbar-logo {
  height: 70px !important;
  width: auto;
  color: #fff;
  justify-self: start;
  cursor: pointer;
}

.NavbarItems .nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 100vw;
  justify-content: end;
  margin-right: 2rem;
  margin-bottom: 0px;
}

.NavbarItems .nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.NavbarItems .nav-links:hover {
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  transition: all 0.2s ease-out;
}

.NavbarItems .nav-menu li {
  position: relative;
}

.NavbarItems .nav-menu li ul {
  position: absolute;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  top: 63px;
  display: none;
}

.NavbarItems ul.show {
  display: inherit;
  width: 240px !important;
  padding: 25px 5px !important;
  margin: -35px !important;
  background: #000 !important;
  border-radius: 4px !important;
}

.NavbarItems ul.show a {
  color: #fff;
  text-decoration: none;
}

.NavbarItems ul.show a:hover {
  color: #000 !important;
  font-weight: 600;
  text-decoration: none;
}

.NavbarItems .nav-menu li ul.show {
  display: inherit;
}

.NavbarItems .nav-menu li ul li {
  position: relative;
  text-align: initial;
  padding: 2px 13px;
  cursor: pointer;
}

.NavbarItems .nav-menu li ul li:hover {
  background: #ccc;
}

.NavbarItems .fa-hamburger {
  color: #000;
}

.NavbarItems .nav-links-mobile {
  display: none;
}

.NavbarItems .menu-icon {
  display: none;
}

.NavbarItems a.nav-links.droparrow:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0da";
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  font-weight: 900;
}

.NavbarItems button.btn-cart {
  display: block !important;
}

ul.show {
  z-index: 2;
}

.nav-cart img {
  cursor: pointer;
  position: relative;
  margin-right: 1px;
}

.nav-cart span {
  position: relative;
  top: -10px;
  right: 10px;
  background-color: crimson;
  font-size: 12px;
  color: #fff;
  padding: 2px 6px;
  height: 20px;
  border-radius: 50%;
}

img.thank-you {
  margin-top: -20px;
}

@media screen and (max-width: 560px) {
  .nav-cart {
    margin-top: 30px;
    margin-left: 200px;
  }

  img.navbar-logo {
    margin-top: 10px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .NavbarItems .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .NavbarItems .nav-menu.active {
    background: #e09c47fc;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease-out;
    z-index: 1;
    padding-top: 2rem;
    margin: 0.8rem 0px;
    padding-bottom: 30px;
  }

  .NavbarItems nav.links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .NavbarItems .nav-links:hover {
    background-color: #7577fa;
    border-radius: 0;
  }

  .NavbarItems .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-15%, 10%);
  }

  .NavbarItems .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .NavbarItems .nav-links-mobile {
    display: block;
    text-decoration: none;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background: #FFDD58;
    color: #000;
  }

  .NavbarItems .nav-menu {
    grid-gap: 10px;
  }

  .NavbarItems .nav-links:hover {
    background: #000;
    color: #fff;
    transition: 250ms;
    border-radius: 4px;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }

  .NavbarItems Button {
    display: none !important;
  }

  .NavbarItems .nav-links-mobile:hover {
    background: #000;
    color: #fff;
  }

  .NavbarItems ul.show {
    display: inherit;
    width: 180px;
    padding: 15px 5px;
    margin: -25px;
    background: #000;
    border-radius: 4px;
  }
}