.menus-space {
  padding: 10px 0;
}

h2.text-center {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
}

p.text-center {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

/*Jolibee Menu*/
h3.name {
  font-weight: 600;
  padding: 10px;
}

p.description {
  font-weight: 600;
  padding: 0 10px;
}

h3.name {
  font-size: 18px;
}

p.description {
  font-size: 16px;
  font-weight: 600;
}

p.description {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.box {
  background: #fff;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  border: 2px solid #000;
}

/*individual product on merchant button view cart*/
a.view-cart {
  padding: 10px 20px;
  border-radius: 4px;
  color: #000;
  text-decoration: none;
  background-image: linear-gradient(to right, #19eecced, #7dd656);
}

/*07-07-2021 merchant button */
a.merchant-viewmore {
  width: 100%;
}

/*06-10-21*/
.merchant-box {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .merchant-box {
    text-align: center;
  }

  /* .merchant-box .item {
    margin: 0px 34px !important;
  } */

  .merchant-box.col-sm-2.col-md-2 {
    width: 33%;
  }

  a.btn.merchant-viewmore {
    font-size: 12px;
  }

  h3.name {
    font-size: 12px !important;
    padding: 0px !important;
  }

  .row {
    margin: 5px;
  }

  .box {
    padding: 5px;
    margin: 2px;
  }
}